# Entornos virtuales
venv/
.venv/

# Base de datos
db.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Variables de entorno
.env
.env.local

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Migraciones compiladas
*.sqlite3