{% extends 'base.html' %}
{% load static %}

{% block title %}
Usuarios
{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/classes.css' %}">
{% endblock %}

{% block content %}

<div class="topbar">
    <div>
        <h1>Usuarios</h1>
        <p>Gestión de usuarios del sistema</p>
    </div>
</div>

<div class="table-card">
    <table>
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Teléfono</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>

            {% for usuario in usuarios %}

            <tr>

                <td>
                    <p class="class-name">{{ usuario.username }}</p>
                    <p class="class-desc">{{ usuario.email }}</p>
                </td>

                <td>
                    {{ usuario.get_full_name|default:"—" }}
                </td>

                <td>
                    {% if usuario.role == 'ADMIN' %}
                    <span class="badge badge-danger">
                        Administrador
                    </span>

                    {% elif usuario.role == 'COACH' %}
                    <span class="badge badge-intermediate">
                        Entrenador
                    </span>

                    {% else %}
                    <span class="badge badge-active">
                        Cliente
                    </span>
                    {% endif %}
                </td>

                <td>
                    {{ usuario.phone|default:"—" }}
                </td>

                <td>
                    {% if usuario.is_active %}
                    <span class="badge badge-active">
                        Activo
                    </span>
                    {% else %}
                    <span class="badge badge-inactive">
                        Inactivo
                    </span>
                    {% endif %}
                </td>

                <td>
                    {% if usuario.pk != user.pk %}
                    <a href="{% url 'user_toggle' usuario.pk %}"
                       class="btn-toggle">

                        {% if usuario.is_active %}
                        Desactivar
                        {% else %}
                        Activar
                        {% endif %}

                    </a>
                    {% else %}
                    <span style="color: #2A2A2A">—</span>
                    {% endif %}
                </td>

            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}